<table class="table">
  <tr>
    <td>Name</td>
    <td><%= @opponent.name %></td>
  </tr>
  <tr>
    <td>Club</td>
    <td><%= @opponent.club.name %></td>
  </tr>
  <tr>
    <td>USAT Number</td>
    <td><%= @opponent.usta_number %></td>
  </tr>
</table>