<% if @user %>
  <section class="jumbotron text-center">
    <h4 style="color:whitesmoke">The next step in your game!</h4>
  </section>
  <section>
    <%= render 'matches_list' %>
  </section>
<% end %>

