<section class="jumbotron text-center">
  <h2><img class="jumbo-thumbnail" src="/favicon.ico"></h2>
  <h2>The next step in your game!</h2>
  <a class="btn btn-success btn-lg" href="/auth/auth0">Login</a>
</section>

