<% if @user %>
  <section class="jumbotron text-center">
    <h4 style="color:whitesmoke">The next step in your game!</h4>
  </section>
  <section class="grid-x">
    <%= render 'actions' %>
  </section>
  <section class="">
    <%= render 'matches_list' %>
  </section>
  <script>
      $(function() {
          $(".is-active").removeClass('is-active')
          $("#matches-menu-item").addClass('is-active')
      })
  </script>
<% end %>

