<form autocomplete="off">
  <div class="match-details">
    <div class="grid-x grid-margin-x">
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
        <label class="match-label gm_note_to_self">Notes
          <textarea type="" rows="4" name="note_to_self" rows="4"><%= @gamemode.notes %> </textarea>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
        <label class="match-label gm_strengths">Strengths
          <input type="text" name="strengths" value="<%= @gamemode.strengths %>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
        <label class="match-label gm_weaknesses">Weaknesses
          <input type="text" name="weaknesses" value="<%= @gamemode.weaknesses  %>"/>
        </label>
      </div>
      <div class="cell medium-offset-1 medium-10 small-offset-2 small-8 match-details">
        <label class="match-label gm_post_match_notes">Post Match Notes
          <textarea type="" rows="4" name="post_match_notes" rows="4"><%= @gamemode.post_match_notes%> </textarea>
        </label>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="large-offset-1 large-10 medium-offset-1 medium-10 small-12 cell">
        <button class="button expanded gm_save" value="submit">Save Changes</button>
      </div>
      <div class="large-offset-1 large-10 medium-offset-1 medium-10 small-12 cell">
        <button class="button expanded gm_disable warning" value="submit">Disable Game Mode</button>
      </div>
    </div>
  </div>
  </div>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>