<form autocomplete="off">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-12">
      <input autocomplete="off" type="hidden" id="location-id" value="<%= @location ? @location.id : nil%>">
      <input autocomplete="off" type="text" id="location" rows="10" value="<%= @location ? @location.name + ',' + @location.address : ''%>">
    </div>
    <div class="search-results cell medium-12" style="height:10px">

    </div>
    <div class="cell medium-4">
      <button class="button cell medium-4 success update-location" id="<%= @match ? @match.id : ''%>" value="submit">Save</button>
      <button class="button cell medium-4 cancel cancel-update" id="<%= @match ? @match.id : ''%>" value="submit">Cancel</button>
    </div>
  </div>
</form>