<form>
  <div class="grid-x grid-margin-x">
    <div class="cell small-offset-1 small-10 match-details" id="<%= @match.id %>">
      <fieldset>
        <label class="new-opponent match-label">Opponent
          <input id="new-opponent" type="text"name="new-opponent"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label new-results">Result
          <input id="new-results" type="text" name="new-results"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label new-location">Location
          <input id="new-location" type="text" name="new-location" value=""/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label new-strengths">Strengths
          <input id="new-strengths" type="text" name="new-strengths"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label new-weaknesses">Weaknesses
          <input id="new-weaknesses" type="text" name="new-weaknesses"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label new-note-to-self">Notes to Self
          <textarea id="new-note-to-self" type="textarea" rows="4" name="new-note-to-self"></textarea>
        </label>
      </fieldset>
      <fieldset>
        <label class="match-label new-date-and-time">Date</label>
        <input id="new_match_datetime" type="text" name="datetime" placeholder="Please enter a date"/>
      </fieldset>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
  <div class="cell medium-offset-4 medium-4 small-offset-1 small-10">
    <button class="button cell medium-4 success create-match" value="submit">Save</button>
    <button class="button cell medium-2 cancel cancel-create" value="submit">Cancel</button>
  </div>
  </div>
  <input type="hidden" name="new_opponent_id" id="new_opponent_id"/>
  <input type="hidden" name="new_location_id" id="new_location_id"/>
  <input type="hidden" name="new_strengths_ids" id="new_strengths_ids"/>
  <input type="hidden" name="new_weaknesses_ids" id="new_weaknesses_ids"/>
  <input type="hidden" name="new_results_array" id="new_results_array"/>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>
<script>
    $(function() {
        $(".is-active").removeClass('is-active')
        $("#new-match-menu-item").addClass('is-active')
    })
</script>