<form autocomplete="off">
  <div class="match-details" id="<%= @match.id %>">
    <div class="grid-x grid-margin-x">
      <div class="cell small-offset-1 small-5">
        <label class="new-opponent match-label">Opponent
          <input id="new-opponent" type="text"name="new-opponent"/>
        </label>
      </div>
      <div class="cell small-offset-1 small-4">
        <label class="match-label new-date-and-time">Date
          <input id="new_match_datetime" type="text" name="datetime" placeholder="Please enter a date"/>
        </label>
      </div>
      <div class="cell small-offset-1 small-3 match-details">
        <label class="new-team match-label">Team
          <input id="new-team" type="text"name="new-team"/>
        </label>
      </div>
      <div class="cell small-offset-1 small-3 match-details">
        <label class="new-league match-label">League
          <input id="new-league" type="text"name="new-league"/>
        </label>
      </div>
      <div class="cell small-offset-1 small-2 match-details">
        <label class="new-year match-label">Year
          <input id="new-year" type="text"name="new-year"/>
        </label>
      </div>
      <div class="cell small-offset-1 small-4 match-details" id="<%= @match.id %>">
        <label class="match-label new-results">Result
          <input id="new-results" type="text" name="new-results"/>
        </label>
      </div>
      <div class="cell small-offset-1 small-5 match-details" id="<%= @match.id %>">
        <label class="match-label new-location">Location
          <input id="new-location" type="text" name="new-location" value=""/>
        </label>
      </div>
      <div class="cell small-offset-1 small-10 match-details" id="<%= @match.id %>">
        <label class="match-label new-strengths">Strengths
          <input id="new-strengths" type="text" name="new-strengths"/>
        </label>
        <label class="match-label new-weaknesses">Weaknesses
          <input id="new-weaknesses" type="text" name="new-weaknesses"/>
        </label>
        <label class="match-label new-note-to-self">Notes to Self
          <textarea autocomplete="off" id="new-note-to-self" type="textarea" rows="4" name="new-note-to-self"></textarea>
        </label>
      </div>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
  <div class="cell medium-offset-4 medium-4 small-offset-1 small-10">
    <button class="button cell medium-4 success create-match" value="submit">Save</button>
    <button class="button cell medium-2 cancel cancel-create" value="submit">Cancel</button>
  </div>
  </div>
  <input type="hidden" name="new_opponent_id" id="new_opponent_id"/>
  <input type="hidden" name="new_location_id" id="new_location_id"/>
  <input type="hidden" name="new_strengths_ids" id="new_strengths_ids"/>
  <input type="hidden" name="new_weaknesses_ids" id="new_weaknesses_ids"/>
  <input type="hidden" name="new_results_array" id="new_results_array"/>
</form>
<div id="form-modal" class="reveal medium" data-reveal style="display: none"></div>
<div id="searchingModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-offset-2 medium-5">
      <h2 class="align-center text-center" id="modalTitle" style="color: white">Searching <img style="height: 30px;" src="/images/spinner.gif"></h2>
    </div>
  </div>
</div>
<script>
    $(function() {
        $(".is-active").removeClass('is-active')
        $("#new-match-menu-item").addClass('is-active')
    })
</script>