<form class="grid-x grid-margin-x">
  <div class="cell medium-12">
    <div>
      <label name="note-to-self">Notes to self</label>
      <textarea id="note-to-self" rows="4"><%= @note_to_self %></textarea>
    </div>
    <div>
      <button class="button cell success update-note-to-self" id="<%= @match.id%>" value="submit">Save</button>
      <button class="button cell cancel cancel-update" id="<%= @match.id%>" value="submit">Cancel</button>
    </div>
  </div>
</form>