<form autocomplete="off">
  <input autocomplete="off" type="hidden" id="opponent-id" value="<%= @opponent ? @opponent.id : -1%>">
  <div class="grid-margin-x">
    <div class="grid-x">
      <div class="cell medium-7 medium-offset-1">
        <input autocomplete="off" type="text" id="opponent" value="<%=  @opponent ? @opponent.name : ''%>" placeholder="Enter Name of Opponent">
      </div>
      <div class="cell medium-offset-1 medium-2">
        <button class="button cell medium-2 hollow search-opponent" id="search">Search</button>
      </div>
    </div>
    <div class="grid-x">
      <div class="search-results cell medium-12" style="height:10px">

      </div>
    </div>
    <div class="grid-x">
      <div class="cell medium-3 medium-offset-1">
        <button class="button cell medium-3 success update-opponent" id="<%= @match ? @match.id : '-1'%>" value="submit">Save</button>
      </div>
      <div class="cell medium-3 medium-offset-1">
        <button class="button cell medium-3 secondary cancel-update" id="<%= @match ? @match.id : '-1'%>" value="submit">Cancel</button>
      </div>
    </div>
  </div>
</form>