// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background {
  background-image: asset_url('doubles_background.png');
  background-size: 1400px;
}

.remember-me {
  font-size: 0.8rem;
}

.alert {
  color: white;
  padding-left: 20px;
}

.notice {
  color: white;
  padding-left: 20px;
}